<!-- about.html -->

{{define "title"}} About {{end}}

{{define "content"}}
<section class="content">
    <section class="center">
        <h1 class="about-h1">About Big Mike! 👨‍💻</h1>
        <br><br>
    </section>
    <section class="grid-container">
        <figure>
            <img src="../static/images/Big_Mike.jpg" alt="Big Mike" width="320px">
            <figcaption>Big Mike! 😎</figcaption>
        </figure>
        <figure>
            <img src="../static/images/Arlington_WA.jpg" alt="Arlington, WA" width="320px">
            <figcaption>Arlington, Washington. 🚚</figcaption>
        </figure>
    </section>
</section>

{{ end }}
