<!-- index.html -->

{{define "title"}} Home {{end}}

{{define "content"}}

<section class="content">
    <h1 class="headline-h1">Latest Snippets</h1>
    <br><br>
    {{if .Snippets}}
    <table>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>ID</th>
            <th></th>
            <th></th>
        </tr>
        {{range .Snippets}}
        <tr>
            <td><a href='/view/{{.ID}}'>{{.Title}}...</a></td>
            <td id="created">{{.Created}}</td>
            <td>#{{.ID}}</td>
            <td><a class="button" href='/edit/{{.ID}}'>Edit</a></td>
            <td><a class="button" href='/delete/{{.ID}}'>Delete</a></td>
        </tr>
        {{end}}
    </table>
    {{else}}
    <p>There's nothing to see here... yet!</p>
    {{end}}
</section>

{{end}}

