/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F1F3F6;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    color: #6A6C6F;
    background: #F7F9FA;
    border-bottom: 2px solid rgb(174, 199, 225);
}


nav h1 {
    font-size: 2.5em;
    font-weight: 600;
    background-image: url("/static/images/logo.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: 50px;
}

nav a {
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: none;
}

main {
    margin: 100px 30px 120px 30px;
}

.content {
    margin-top: 20px;
}

.headline-h1 {
    font-size: 1.5em;
    font-weight: 600;
}

.about-h1 {
    font-size: 2.5em;
    font-weight: 600;
}
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
}

a {
    font-size: 1.2em;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: #C0392B;
    font-weight: bold;
    display: block;
}

form div {
    margin-bottom: 18px;
}

form label {
    display: inline-block;
    font-size: 1.5em;
    font-weight: 500;
    color: black;
    margin: 5px;
    padding: 5px;
}

form input[type=text] {
    font-size: 1.3em;
    font-weight: 500;
    width: 50%;
    margin: 5px;
    padding: 5px;
    color: black;
    background: #FFFFFF;
    border: 1px solid #E4E5E7;
    border-radius: 3px;
}

textarea {
    font-size: 1.3em;
    font-weight: 500;
    margin: 5px;
    padding: 5px;
    color: black;
    background: #FFFFFF;
    border: 1px solid #E4E5E7;
    border-radius: 3px;
}

input[type="submit"] {
    font-size: 1.3em;
    font-weight: 500;
    margin: 3px;
    padding: 3px;
    color: black;
    background-color: rgb(232, 204, 204);
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 2px black;
}

input[type="submit"]:active {
    box-shadow: inset 2px 2px black;
}

.button {
    font-size: 1em;
    font-weight: 400;
    padding: 2px 3px 2px 3px;
    color: black;
    background-color: rgb(236, 224, 224);
    text-decoration: none;
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 2px black;
}

.button:active {
    box-shadow: inset 2px 2px black;
}

.snippet {
    margin: 10px;
    padding: 10px;
    font-size: 1.5em;
    font-weight: 500;
    color: black;
    background-color: #FFFFFF;
    border: 1px solid #E4E5E7;
    border-radius: 3px;
}

.snippet .metadata {
    margin: 10px;
    padding: 10px;
    background-color: #F7F9FA;
}

.snippet .metadata strong {
    color: #0d2b4a;
}

.snippet pre {
    padding: 15px 10px 15px 0;
    background-color: white;
    border-top: 2px solid rgb(101, 154, 187);
    border-bottom: 2px solid rgb(101, 154, 187);
}

.created {
    font-weight: 400;
    font-style: italic;
    color: rgb(71, 65, 65);
}

table {
    background: white;
    border: 1px solid #E4E5E7;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    font-size: 1.3em;
    font-weight: 500;
    text-align: left;
    padding: 9px 18px;
}

th:last-child,
td:last-child {
    text-align: right;
    color: #6A6C6F;
}

tr {
    border-bottom: 1px solid #E4E5E7;
}

tr:nth-child(2n) {
    background-color: #b6d4e3;
}

div.flash {
    color: #FFFFFF;
    font-weight: bold;
    background-color: #34495E;
    padding: 18px;
    margin-bottom: 36px;
    text-align: center;
}

div.error {
    color: #FFFFFF;
    background-color: #C0392B;
    padding: 18px;
    margin-bottom: 36px;
    font-weight: bold;
    text-align: center;
}

figure>img {
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
}

figcaption {
    font-size: 1.5em;
    font-weight: 600;
    margin: 5px;
    padding: 5px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    color: black;
    background: #F7F9FA;
    border-top: 2px solid rgb(174, 199, 225);
}

footer p {
    font-size: 1.5em;
    font-weight: 600;
    color: #153667;
}

footer a {
    font-size: 1em;
    font-weight: 600;
    color: #62CB31;
}
